.About_us_text {
  margin: 0 auto;           
  max-width: 800px;   
  padding: 20px;   
}

.head_about {
  margin: 0 auto;           
  max-width: 800px;   
  padding-left: 20px; 
}

.one_head {
    color: green;
}

.abt_life {
    color: green;
}

.about_us {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.about_footer {
    display: flex;
    gap: 80px;
    font-style: italic;
    color: green;
}

.foot_abt {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_foot_img {
    height: 50px;
    width: 50px;
}

.who-weare {
    display: flex;
    gap: 10px;
}

.who-beg {
    padding: 30px;
    background-color: bisque;
}