/* header.css */
.logo {
  width: 60px;
  height: 60px; 
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.navbar-nav li {
    margin-right: 20px;
    font-weight: bold;
}

.navb_s {
    /* background-color:  #FFD700; */
    background-color:  #aae6aa;
    border-radius: 30px;
    height: 90px;
}